<p>templatedrivenform works!</p>
<form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required [(ngModel)]="user.name">
      <div *ngIf="userForm.controls['name']?.invalid && (userForm.controls['name']?.dirty || userForm.controls['name']?.touched)">
        <div *ngIf="userForm.controls?.['name']?.errors?.['required']">Name is required</div>
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
      <div *ngIf="userForm.controls['email']?.invalid && (userForm.controls['email']?.dirty || userForm.controls['email']?.touched)">
        <div *ngIf="userForm.controls?.['email']?.errors?.['required']">Email is required</div>
        <div *ngIf="userForm.controls?.['email']?.errors?.['pattern']">Invalid email format</div>
      </div>
    </div>
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>