<main>
    <ul>
        <li><a routerLink="/dash">Dashboard</a></li>
        <!-- <button (click)="NavigateToDashBoard()">Go To Navigate page</button> -->
        <li><a routerLink="/about/16" routerLinkActive="active" ariaCurrentWhenActive="page"> Component A</a></li>
        <li><a routerLink="/contact/23" routerLinkActive="active" ariaCurrentWhenActive="page"> Component B</a></li>
    </ul>
   <!--
    <app-component-a></app-component-a>
    <app-component-b></app-component-b>
 
    <pp-emp-registaration></pp-emp-registaration> 
    <app-templatedrivenform></app-templatedrivenform>  
    <app-customvalidator></app-customvalidator>
    <app-formcomponent></app-formcomponent>
    <app-forms></app-forms>
    <app-httptalks></app-httptalks>
    <app-dashboard-page></app-dashboard-page>-->
    <app-product-list></app-product-list>
    <app-product-descriptipon></app-product-descriptipon>
<router-outlet></router-outlet>
</main>